.card {
  background-color: rgb(252, 252, 252);
  min-width: 240px;
  width: 40%;
  margin: 32px auto;
  text-align: center;
  padding: 8px;
  border: 1px solid rgb(184, 182, 182);
  transition: 0.3s;
}

.card:hover {
  border: 1px solid rgb(0, 0, 0);
}

.nameTitleFood {
  font-weight: bold;
  font-size: 20px;
}

.card img {
  margin: 16px;
  width: 150px;
}

.nameValueFood {
  font-size: 18px;
}

.card button {
  margin: 16px;
  padding: 8px;
  width: 50%;
  max-width: 200px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 12, 12);
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.card button:hover {
  background-color: rgb(201, 10, 10);
  color: rgb(204, 199, 199);
}

@media (max-width: 576px) {
  .card button {
    font-size: 16px;
  }
}
