.header-component {
  background-image: linear-gradient(to right, rgb(173, 0, 0), rgb(255, 0, 0));
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: white;
}
