.swiperzim {
  border-top: 25px solid black;
  border-bottom: 25px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  background-color: black;

  border-radius: 10px;

  width: 350px;
  margin: 50px auto;
  height: 550px;
}

.slidezim {
  width: 100%;
  height: 100%;
}

.slidezim img {
  width: 100%;
  height: 100%;
}
