/*
    background-image: url("../Assets/images/backgroundFood.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
*/

.menu-ul li:last-of-type {
  margin-bottom: 60px;
}

.seeMenu {
  text-align: center;
  width: 80%;
  margin: 100px auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeMenu span {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
}

.seeMenu img {
  width: 150px;
}

.btn-foods {
  display: flex;
  justify-content: center;
}

.btn-foods button {
  width: 100px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(252, 252, 252);
  color: red;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px black;
  transition: 0.3s;
}

.btn-foods button:hover {
  color: rgb(158, 17, 17);
  background-color: rgb(199, 193, 193);
}

@media (max-width: 576px) {
  .seeMenu {
    display: block;
    margin: 70px auto 50px;
  }

  .seeMenu span {
    font-size: 44px;
  }

  .seeMenu img {
    width: 140px;
  }
}
