* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #f3f3f3;
  color: rgb(53, 52, 52);
  font-family: "Roboto", sans-serif;
}

ul li:last-of-type {
  margin-bottom: 60px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
