* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #f3f3f3;
  color: rgb(53, 52, 52);
  font-family: "Roboto", sans-serif;
}

ul li:last-of-type {
  margin-bottom: 60px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  background-image: linear-gradient(to right, rgb(173, 0, 0), rgb(255, 0, 0));
  width: 100%;
}

.div-quantidade {
  display: flex;
  align-items: center;
}

.div-button {
  display: flex;
  flex-direction: column;
}

.buttonIncrements {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.buttonIncrements:hover {
  color: gray;
}
